<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edadevsys.sanjuanalerta2"
    android:versionCode="17"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <!--suppress AndroidUnknownAttribute -->
    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <!--suppress AndroidUnknownAttribute -->
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--suppress AndroidUnknownAttribute -->
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="UnusedAttribute" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigAppActivity"
            android:label="@string/title_activity_config_app" >
        </activity>
        <activity
            android:name=".ContactsMainActivity"
            android:label="@string/title_activity_contact_main_app" >
        </activity>
        <activity
            android:name=".ContactList"
            android:label="@string/title_activity_contact_main_db_app"
            android:uiOptions="splitActionBarWhenNarrow"
            tools:ignore="UnusedAttribute" >
        </activity>
        <activity
            android:name=".MainActivityListContact"
            android:label="@string/title_activity_contact_main_list_app" >
        </activity>
    </application>

</manifest>
